@charset "UTF-8";

/*
    Paleta de cores:
    Verde: #49a09d;
    Lilás: #5f2c82;
*/

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body, html{
    background-color:#5f2c82 ;
    height: 100vh;
    width: 100vw;
}

main{
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;

    background-color: white;
    width: 270px;
    height: 515px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.450);

    transition: width 0.3s, height 0.3s;
    transition-timing-function: ease;
}

section#login > #imagem{
    display: block;
    background-color: #5f2c82;
    background-image: url(../imagens/jesus.jpg);
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    box-shadow: inset 0px 0px 10px black;
}

section#login > #form{
    display: block;
    padding: 10px;
}

section#login > #form h1{
    text-align: center;
    padding: 10px;
}

section#login > #form p{
    font-size: 0.8em;
    font-weight: 700;
}

form > input[type=submit]{
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: #2d6261;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: alias;
}

form > input[type=submit]:hover{
    background-color: #387a79;

}

form > a.botão{
    display: block;
    text-decoration: none;
    text-align: center;
    font-size: 1em;
    padding-top: 5px;
    width: 100%;
    height: 40px;
    background-color: #489b9a ;
    margin-top: 5px;
    border: 1px solid #387a79;
    color: #2d6462;
    border-radius: 5px;
    transition-duration: 0.4s;
}

form > a.botão:hover{
    background-color: #fff;
}

form > a.botão > span{
    font-size: 0.8em;

}

div.campo > label{
    display: none;
}

form > div.campo{
    background-color: #5f2c82;
    width: 100%;
    display: block;
    height: 40px;
    border-radius: 8px;
    margin: 5px 0px;
}

div.campo > span{
    color: #fff;
    font-size: 2em;
    width: 45px;
    padding: 5px;
}

div.campo > input{
    background-color: #53b1b0;
    font-size: 1em;
    height: 97%;
    border: 2px solid #5f2c82;
    border-radius: 0px 8px 8px 0px;
    padding: 4px;
    width:calc(100% - 50px);
    transform: translateY(-11px);
}

div.campo > input:focus-within{
    background-color: #fff;
    outline: none;
}